<div *ngIf="model.getProducts().length > 0 then productList else noProduct">
</div>


<ng-template #productList>
    <div  class="bg-primary text-white m-2 p-2">
        There are {{model.getProducts().length}} products in the repository.
    </div>
</ng-template>

<ng-template #noProduct>
    <div  class="bg-primary text-white m-2 p-2">
        There are no products in the repository.
    </div>
</ng-template>

<div [hidden]="model.getProducts().length > 0 ">
    There are no products in the repository.
</div>